.flag-1-icon,
.logo-1-icon {
  height: 25px;
  width: 53px;
  position: relative;
  object-fit: cover;
}
.flag-1-icon {
  width: 31px;
}
.download-button {
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frame-child {
  height: 25px;
  width: 58px;
  position: relative;
  background-color: var(--color-royalblue);
  display: none;
}
.sign-up {
  position: relative;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.frame-item,
.rectangle-parent {
  background-color: var(--color-royalblue);
}
.rectangle-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 4px var(--padding-8xs) var(--padding-8xs);
  white-space: nowrap;
}
.frame-item {
  height: 25px;
  width: 58px;
  position: relative;
  display: none;
}
.log-in {
  position: relative;
  display: inline-block;
  min-width: 41px;
  z-index: 1;
}
.rectangle-group {
  flex: 0.8367;
  background-color: var(--color-royalblue);
  justify-content: flex-start;
  padding: var(--padding-8xs) 7px var(--padding-8xs) 10px;
  white-space: nowrap;
}
.download-button-parent,
.home-inner,
.logo-1-parent,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.download-button-parent {
  width: 169px;
  justify-content: flex-start;
  gap: 11px;
}
.home-inner,
.logo-1-parent {
  align-self: stretch;
  max-width: 100%;
}
.logo-1-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-inner {
  height: 26px;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 6px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-inner {
  height: 65px;
  width: 340px;
  position: relative;
  background-color: var(--color-royalblue);
  display: none;
  max-width: 100%;
}
.zip-1-icon {
  height: 45px;
  width: 35px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.download-15mb,
.rege-antiban {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.rege-antiban {
  align-self: stretch;
  height: 23px;
}
.download-15mb {
  min-width: 86px;
}
.download-15mb-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
  margin-top: -2px;
  font-size: var(--font-size-3xs);
}
.frame-wrapper,
.rege-antiban-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rege-antiban-parent {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.zip-1-parent {
  align-self: stretch;
  width: 191px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 13px;
}
.download-1-icon {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.download-1-wrapper {
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 12px;
  box-sizing: border-box;
}
.rectangle-container {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-royalblue);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) 32px var(--padding-2xs) var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangle-div {
  width: 160px;
  height: 67px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.share-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.share-1-wrapper {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px 0 19px;
  box-sizing: border-box;
}
.share-options {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 67px;
  z-index: 1;
}
.frame-button,
.frame-child1 {
  background-color: var(--color-gainsboro);
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 44px var(--padding-mini) 49px;
  flex: 0.859;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-child1 {
  width: 160px;
  height: 67px;
  position: relative;
  display: none;
}
.plus-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.plus-1-wrapper {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px;
  box-sizing: border-box;
}
.a {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 78px;
  z-index: 1;
}
.frame-container,
.frame-group,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 41px var(--padding-mini);
  background-color: var(--color-gainsboro);
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-container,
.frame-group {
  align-self: stretch;
}
.frame-container {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 19px;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  gap: 14px;
  max-width: 100%;
}
.frame-child2,
.world-1-icon {
  position: relative;
  max-width: 100%;
}
.frame-child2 {
  height: 155px;
  width: 339px;
  background-color: var(--color-cornflowerblue);
  display: none;
}
.world-1-icon {
  height: 150px;
  flex: 1;
  overflow: hidden;
  z-index: 1;
}
.frame-div,
.frame-parent,
.home {
  display: flex;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-cornflowerblue);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-8xs) 16px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent,
.home {
  flex-direction: column;
}
.frame-parent {
  align-self: stretch;
  height: 331px;
  align-items: flex-start;
  gap: 30px;
  max-width: 100%;
  text-align: left;
  font-size: 15px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: 22px var(--padding-2xs) 280px var(--padding-4xs);
  box-sizing: border-box;
  gap: 141px;
  letter-spacing: normal;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 40% auto; /* 15% from the top and centered */
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f4f7;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.name-content {
  margin-right: 7rem;
  background-color: #0f71f1;
  padding: 10px;
}

.name-content .logo {
  font-size: 2rem;
  color: #ffff;
}

.name-content p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 530px;
  height: 380px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
  outline: none;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

form input:focus {
  border: 1.8px solid #1877f2;
}

form .login {
  outline: none;
  border: none;
  background: #1877f2;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
}

form .login:hover {
  background: #0f71f1;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.8rem;
  color: #1877f2;
}

form hr {
  background: #f7f7f7;
  margin: 1rem;
}

form .create-account {
  outline: none;
  border: none;
  background: #06b909;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
  width: 75%;
  margin: 0 auto;
}

form .create-account:hover {
  background: #03ad06;
  cursor: pointer;
}

/* //.........Media Query.........// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }

  @media (orientation: landscape) and (max-height: 500px) {
    .header {
      height: 90vmax;
    }
  }
};


